<div class="timer-container">
  <svg class="backdrop" viewBox="0 0 100 100">
    <circle cx="50" cy="50" r="45" fill="none" [attr.stroke]="backdropColor" stroke-width="10"></circle>
  </svg>

  <mat-progress-spinner
    class="custom-spinner"
    [ngStyle]="spinnerStyle"
    [color]="'primary'"
    [mode]="'determinate'"
    [value]="progress"
    [diameter]="200"
  ></mat-progress-spinner>

  <div class="timer-display">
    {{ displayTime }}
    <div class="focus-label">
      {{ modeLabel }}
    </div>
  </div>
</div>

<div class="controls">
  <button mat-icon-button (click)="reset()" 
    matTooltip="Reset Timer: Return to the start of the current session"
    matTooltipShowDelay="600">
    <mat-icon>replay</mat-icon>
  </button>

  <button mat-icon-button (click)="toggleTimer()" 
    matTooltip="Start/Pause: Begin or pause the current timer"
    matTooltipShowDelay="600">
    <mat-icon>{{ isRunning ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>

  <button mat-icon-button (click)="skip()" 
    matTooltip="Skip: Move to the next session (focus or break)"
    matTooltipShowDelay="600">
    <mat-icon>{{ skipIcon }}</mat-icon>
  </button>
</div>

<div class="auto-start">
  <mat-slide-toggle 
    (change)="onAutoStartChange()" 
    [(ngModel)]="autoStart"
    matTooltip="Auto Start: When on, automatically begins the next session after the current one ends"
    matTooltipShowDelay="600">
    Auto Start
  </mat-slide-toggle>
</div>