<mat-progress-spinner 
  class="timer" 
  [mode]="mode" 
  [value]="progress" 
  diameter="250"
  color="primary">
</mat-progress-spinner>

<div class="timer-text">
  <div>{{ minutes }}:{{ seconds }}</div>
  <div>FOCUS</div>
</div>

<div class="timer-controls">
  <button mat-raised-button color="primary" (click)="startTimer()">Start</button>
  <button mat-raised-button color="primary" (click)="pauseTimer()">Pause</button>
  <button mat-raised-button color="primary" (click)="resumeTimer()">Resume</button>
  <button mat-raised-button color="warn" (click)="stopTimer()">Stop</button>
  <button mat-raised-button color="accent" (click)="resetTimer()">Reset</button>
</div>